.button__container {
    display: flex;
}

.button {
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    padding: 10px 10px;
    border: 1.15px solid lightgray;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 0 0 transparent;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 1rem;
    color: #373737;
    background-color: white;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 0 0 5px lightgray;
}
