:root {
    --circle-size: 175px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.outer-circle {
    border-radius: 50%;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: calc(var(--circle-size) + 20px);
    height: calc(var(--circle-size) + 20px);
}

.circle {
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: var(--circle-size);
    height: var(--circle-size);
    background: linear-gradient(to top, #d2d2d5, #ececec);
}

.circle img {
    width: 85%;
    height: 85%;
    object-fit: contain;
}