.custom-button {
    font-weight: 700;
    cursor: pointer;
    align-items: center;
    display: flex;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    padding: 7.5px 8px;
    border-radius: 8px;
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
    overflow: hidden;
    justify-content: space-between;
    text-decoration: none;
    color: #373737;
}

.custom-button:hover {
    box-shadow: 0 0 0 5px lightgray;
}

.custom-button:active {
    box-shadow: 0 0 0 0 transparent;
    opacity: 0.4;
}

.custom-icon {
    margin-left: 8px;    
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
}

