.status {
    --width: 5px;
    --height: 5px;
}

.status {
    display: flex;
    background-color: #dff7ec;
    border-radius: 25px;
    align-items: center;
    padding: 5px;
    padding-inline: 7.5px;
    cursor: pointer;
}

.status div {
    background-color: #28c780;
    border-radius: calc(var(--width) / 2);
    width: var(--width);
    height: var(--height);
    display: flex;
}

.status span {
    color: #0c9b5b;
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
    padding: -15px;
}