.navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17.5px 20px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(200, 200, 200, 0.25);
    border-radius: 12px;
    margin: 0 auto; /* Center the navbar */
    margin-top: 25px;

    /*border-width: 0.5px;
    border-color: black;
    border-style: solid;*/
}

.navbar__list {
    list-style-type: none;
    display: flex;
    margin: 20;
    padding: 0;
}